@CHARSET "UTF-8";

body {
	padding-top: 60px;
}

div.container a.brand {
    background: url("../img/admin-logo.png") no-repeat scroll 0 5px transparent;
    margin-left: 0;
    padding: 8px 50px 12px 40px;
}

.editable-textarea {
    width: 100%;
    height: 500px;
}

.admin-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/spinner.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .admin-loading {
    display: block;
}

.sortable-table th:hover {
	cursor: pointer;
}

#product-list p.product-status,
#productCategory-list p.productCategory-status {
	width: 24px;
	margin-left: auto;
	margin-right: auto;
}

#product-list a.glyphicons,
#productCategory-list a.glyphicons {
	text-decoration:none;
}

#product-list a.glyphicons:before,
#productCategory-list a.glyphicons:before {
	margin-left: 0px;
}

#product-list a.product-enabled:before,
#productCategory-list a.productCategory-enabled:before {
	color: #51a351;
}

#product-list a.product-disabled:before,
#productCategory-list a.productCategory-disabled:before {
	color: #bd362f;
}

#product-list a.product-enabled:hover:before,
#productCategory-list a.productCategory-enabled:hover:before {
	color: #499249;
}

#product-list a.product-disabled:hover:before,
#productCategory-list a.productCategory-disabled:hover:before {
	color: #a9302a;
}

#userTabs .close {
	position: relative;
	right: -10px;
	top: -10px;
	margin-bottom: -30px;
}