body {
	background-color: #fefcaf;
}

#main-content {
	background-color: #fff;
	border: 1px solid #d4d4d4;
  	-webkit-border-radius: 0px 0px 4px 4px;
       -moz-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
       -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	border-top: 0px;
	padding: 5px;
	padding-top: 50px;
    padding-bottom: 40px;
	margin-bottom: 10px;
}

div.container a.brand {
    /*background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;*/
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#header a {
	text-decoration: none;
}

#header h2 span {
	margin-top: 25px;
}

#header h2 span .glyphicons:before {
	top: 4px;
	left: 24px;
}

.product-item-box { height: 275px; }

.category-item-box { min-height: 175px; }

.text-right { text-align: right; }
.text-center { text-align: center; }

#product-nav {
	/*font-size: 12px;*/
}

/* Shop Styles */

.shop-summary .dropdown-menu {
	padding: 5px;
	margin: 0px;
	
}

#checkout-or {
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		position: absolute;
	}
	
	#main-content {
		margin-top: 0px;
	}
	
	.product-item-box { height: 230px; }
}
