body {
	background-color: #fefcaf;
}

/* bootstrap over-rides */
.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fefdd5;
  background-image: -moz-linear-gradient(top, #fefdd5, #fefa83);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefdd5), to(#fefa83));
  background-image: -webkit-linear-gradient(top, #fefdd5, #fefa83);
  background-image: -o-linear-gradient(top, #fefdd5, #fefa83);
  background-image: linear-gradient(to bottom, #fefdd5, #fefa83);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefdd5', endColorstr='#fffefa83', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#main-content {
	background-color: #fff;
	border: 1px solid #d4d4d4;
  	-webkit-border-radius: 0px 0px 4px 4px;
       -moz-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
       -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	border-top: 0px;
	padding: 5px;
	padding-top: 50px;
    padding-bottom: 40px;
	margin-bottom: 10px;
}

#content {
	position: relative;
}

.ajax-loading {
    display:    none;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/spinner.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
#content.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#content.loading .ajax-loading {
    display: block;
}

div.container a.brand {
    /*background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;*/
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#header a {
	text-decoration: none;
}

#header h2 span {
	margin-top: 25px;
}

#header h2 span .glyphicons:before {
	top: 4px;
	left: 24px;
}

/* Shop Styles */

.product-item-box { height: 275px; }

.category-item-box { min-height: 175px; }

#product-nav {
	/*font-size: 12px;*/
}

.shop-summary .dropdown-menu {
	padding: 5px;
	margin: 0px;
}

#checkout-or {
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		position: absolute;
	}
	
	#main-content {
		margin-top: 0px;
	}
	
	.product-item-box { height: 230px; }
}

