*
/data/
/logs/
!do_not_remove
/ssl/
/sample/

data/*
vendor/*
.buildpath
.DS_Store
.project
.settings
local.php
*.local.php

!/assets/*
!/public_html/*
!composer.json
!init_autoloader.php
!LICENCE.txt
!README.md
/public_html/admin/tmp/*.*
/public_html/shaop/images/*.*