
/data/*
data/cache/*
/logs/
/public_html/admin/tmp/*
/ssl/
/vendor/
/sample/
.buildpath
.DS_Store
.project
.settings
local.php
*.local.php
composer.lock
composer.phar
!do_not_remove
