.mootabs_title {
    list-style-image: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    height: 24px;
    z-index:10;
  }

.mootabs_title li {
    float: left;
    background-color: skyblue;
    color: white;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    cursor: pointer;
    height: 24px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:0px;
    position: relative;
    top:0px;
    z-index:10;
  }

.mootabs_title li.over {
    background-color: #0B55C4;
    position: relative;
    top:0px;
    z-index:5;
}

.mootabs_title li.active {
    background-color: #fff;
    color: black;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
	border-bottom:0px;
    position: relative;
    top:0px;
    z-index:100;
  }

.mootabs_panel {
    display: none;
    background-color: #ddd;
    position: relative;
    width: 100%;
    top: -1px;
    clear: both;
    overflow: auto;
  }

.mootabs_panel p {
	margin-left:5px;
}

.mootabs_panel.active {
    background-color: #fff;
    border:1px solid black;
    display: block;
    z-index:20;
}

.mootabs_panel table {
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:15px;
}

