/*********************************
 *
 *	CAPTCHA-Styles
 *
 */
	
	#captcha
	{	
		font-size:12px;
		text-align:center;
		margin-left: auto;
		margin-right: auto;
		border-style: dashed;
		border-width: 2px;
		border-color: #FFD940;
	}
	
	#captcha table {
		text-align:center;
	}
	
	#captcha ul {
		list-style: none;
		text-align:left;
	}
	
	.captcha_notvalid p
	{
		margin-left: 30px;
		margin-right: 20px;
		font-weight: bold;
		background: transparent;
		color: #ff0000;
		text-align:left;
	}
	
	.has-error, 
	.errors {
		color: #ff0000;
	}
	
	.has-error li,
	.errors
	{
		font-weight: bold;
		text-align:left;
	}
	
	.has-error input {
		border-color: #ff0000;
	}
	
	.label {
		text-align: right;
	}
	
	.notes {
		padding:20px;
		width:250px;
		text-align:left;
		background: #FFFACD; 
		border-top: 1px solid buttonhighlight;
		border-left: 1px solid buttonhighlight;
    	border-bottom: 1px solid buttonshadow;
    	border-right: 1px solid buttonshadow;
	}
	
	.notes h3, .notes p {
		margin:0px;
	}
	
	.notes h3 {
		text-decoration:underline;
	}
	
	.password {
		height:150px;
		overflow:auto;
	}
	
	.password ul {
		margin:0px;
		padding:10px;
	}
	
	.password li {
		margin-top:5px;
		list-style-type:square;
	}
	
	#admin_login {
		font-size:x-small;
	}
	
	