/* 
    Document   : cart
    Created on : 14-Oct-2010, 14:53:50
    Author     : Shaun Freeman <shaun@shaunfreeman.co.uk>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#mini_cart {
	position: absolute;
	top: 10px;
	right: 5px;
	border: 1px solid #AFA582;
	background-color: #FFFACD;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
	padding: 2px;
  	height: 150px;
	width:156px;
	
	text-align:left;
}

.cartBottomButtons {
    text-align: center;
}

.cartBottomButtons .button, #returnLink {
	display:inline-block;
	text-decoration:none;
    height:25px;
    line-height: 25px;
    vertical-align: middle;
}

.cartTop {
	text-align:left;
	background-color: skyblue;
}

.itemRow {
	border-bottom:1px solid #000000;
}

.cartBottom {
	background-color: skyblue;
	text-align:right;
}

#cart_drop {
	margin:0px;
}

#mini_cart table {
	width:100%;
}

#mini_cart th {
	
	background: url(../template/menu2.gif)
}

#mini_cart_heading {
	
	background: url(../template/menu2.gif);
}

.item {
	position:relative;
	cursor: move;
}

#mini_cart .item {
	position:relative;
	cursor: default;
}

.item span {
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

#mini_cart_containter {
	display: none;
	position: absolute;
    border: 2px solid #fff;
    -moz-border-radius: 5px 5px 40px 40px;
    -webkit-border-radius: 5px 5px 40px 40px;
    border-radius: 5px 5px 40px 40px;
    padding: 0px;
    margin: 0px;
	background-color: #000;
	width:600px;
	height:440px;
    z-index:1000;
}

#mini_cart_contents {
	
    margin-top: -2px;
	width: 594px;
    border: 3px solid #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	height:400px;
	background-color: #fff;
	overflow:auto;
}

#mini_cart_controls {
	width: 100%;
	height: 30px;
	padding: 5px;
	background-color: transparent
}

#miniCartClose {
	position:absolute;
	top:-12px;
	right:-12px;
	cursor: pointer;
	background-color:transparent;
	text-align:right;
}

.mask {
	position: absolute;
	opacity: 0.6;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #000;
}

.productMask {
	position: absolute;
	z-index: 999;
	background-color: transparent;
}

.tip-wrap {
	z-index: 10000;
}

#productTable {
    width: 100%;
}
