#Menu {
	width:170px;
	margin-top:10px;
    text-align: left;
}

#MenuHeading {
	background: url(../template/menu2.gif); 
	font-weight: bold;  
	padding:3px;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
}

#MenuContent { 
	margin-top: 5px;
	background: url(../template/menu2.gif);
}

#MenuContent ul {
	position: relative;
	list-style: none;
	margin:0px;
	padding:0px;
	font-weight: bold;
	font-size: 9pt;
    border: 0px;
}

#MenuContent li {
    cursor: pointer;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
}

#MenuContent li:hover {
    border-top: 1px solid buttonshadow;
    border-left: 1px solid buttonshadow;
    border-bottom: 1px solid buttonhighlight;
    border-right: 1px solid buttonhighlight;
}

#MenuContent ul a {
	display: block;
	text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 3px;
    color: #000;
}

#MenuContent ul a:hover {
    color: #444;
}

#MenuContent li ul {
	display: none;
	position: absolute;
	margin-top: -26px;
	left: 160px;
	width: 170px;
	background: url(../template/menu.gif);
	
}

#MenuContent li:hover > ul {display: block;} 
