body {
	background-image: url("../img/layout/html_bg.gif");
}

#main-content {
	background-color: #fff;
	border: 1px solid #d4d4d4;
  	-webkit-border-radius: 0px 0px 4px 4px;
       -moz-border-radius: 0px 0px 4px 4px;
            border-radius: 0px 0px 4px 4px;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
       -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
	border-top: 0px;
	padding: 5px;
	padding-top: 50px;
    padding-bottom: 40px;
	margin-bottom: 10px;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.intro {
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 20px;
}

.intro h2 {
	height: 50px;
	line-height: 50px;
	float: left;
}

.product-item-box { height: 275px; }

.text-right { text-align: right; }
.text-center { text-align: center; }

/* Shop Styles */

.shop-summary .dropdown-menu {
	padding: 5px;
	margin: 0px;
	
}