html {
  font-size: 62.5%;
}

body {
	border:0px;
	margin:0px;
	padding:0px;
	background:url(../template/yellow.gif);
	background-attachment:fixed;
	color:black;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    text-align: center;
}

div {
	border: 1px solid transparent;
    /*border: 1px solid #000;*/
}

#LeftColumn {
    /*position: absolute;
    left: 10px;*/
    float: left;
	width:180px;
    padding-top: 10px;
}

#Middle {
    margin-left: 190px;
    width: auto;
}

#Heading {
    height: 150px;
    margin-top: 10px;
    margin-right: 166px;
}

#HeadingText {
	margin-top: 25px;
}

#logo {
	z-index:0;
}

#flashLogo {
    width: 85px;
    display: inline;
}

.hide {
	display:none;
}

#Specs {
	width:170px;
	margin-top:10px;
}

#SpecsHeading {
	background: url(../template/menu.gif);
	font-weight: bold;
	padding:3px;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
    text-align: left;
}

#SpecsContent {
	margin-top:4px;
	padding:3px;
	background: url(../template/menu.gif);
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
    text-align: left;
}

#Contacts {
	width:170px;
	margin-top:10px;
    text-align: left;
}

#ContactsHeading {
	background: url(../template/menu2.gif);
	font-weight: bold;
	padding:3px;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
}

#ContactsContent {
	margin-top:5px;
	padding:3px;
	background: url(../template/menu2.gif);
	text-align:center;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
}

#Content {
	padding: 15px;
	text-align: justify;
}

#Row2 {
    text-align: center;
}

a { color: darkblue; }

a:hover { text-decoration: none; }

a.green {
	color: #0f0;
}

a:link img {
	border: 0;
}

a:visited img {
	border: 0;
}

a:active img {
	border: 0;
}

h1 {
	color: black;
	font-weight: bold;
}

h2 {
	color: black;
	font-weight: bold;
}

h3 {
	color: black;
	font-weight: bold;
}

h4 {
	color: black;
	font-weight: bold;
}

h5 {
	color: black;
	font-weight: bold;
}

h6 {
	color: black;
	font-weight: bold;
}

.Bold
{
	font-weight: bold;
}

.Title
{
	font-weight: bold;
	font-size: 18px;
	color: #cc3300;
}

.Code
{
	border: #8b4513 1px solid;
	padding-right: 5px;
	padding-left: 5px;
	color: #000066;
	font-family: 'Courier New' , Monospace;
	background-color: #ff9933;
}

.center {
	text-align:center;
}

.required {
	color:red;
	font-size:1.5em;
	}

.fail {
	color:#FF0000;
}

.ok {
	color:#009f3c;
}

.info {
	color:#1682d5;
}

.smcap {
	font-variant:small-caps;
	font-weight:bold;
}

.box {
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding:1px;
	text-align:center;
}

.box td {
	text-align:left;
}
/* ---------------------------------------------------------------
- Page Loading div
*/

#loadingDivWrap {
	position: absolute;
	top:0px;
	left:0px;
}

.loading {
	width:200px;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	background: threedface;
	background-image:url(../admin/images/buttonbar_gs.gif);
	background-repeat:repeat-x;
}

.loaded {
	width:200px;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	background: threedface;
	background-image:url(../admin/images/buttonbar_gs.gif);
	background-repeat:repeat-x;
}

a.Link {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a.Link:hover {
	text-decoration: underline;
}

.button {
	width:auto;
	color: #000;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
	background: url(../admin/images/buttonbar_gs.gif) repeat-x;
	padding: 0px 5px;
	line-height:25px;
	height: 25px;
	margin: 1px;
	cursor: pointer;
}

.button:hover, .buttonOver {
	color: #81764F;
	font-weight: bold;
	border-top: 1px solid buttonshadow;
    border-left: 1px solid buttonshadow;
    border-bottom: 1px solid buttonhighlight;
    border-right: 1px solid buttonhighlight;
	background: url(../admin/images/buttonbar_gs.gif) repeat-x;

}

.button a {
	color: #000;
	text-decoration: none;
}

.button:hover a, .buttonOver a {
	color: #81764F;
}

input.submit {
	color: #000;
	height:27px;
	font-weight: bold;
	border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
    border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
	background-image: url(../admin/images/buttonbar_gs.gif);
	cursor: pointer;
}

input.submit:hover, input.submitOver {
	color: #81764F;
	height:27px;
	border-top: 1px solid buttonshadow;
    border-left: 1px solid buttonshadow;
    border-bottom: 1px solid buttonhighlight;
    border-right: 1px solid buttonhighlight;
}

.tip {
	color: #fff;
	width: 139px;
	z-index: 13000;
}

.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #9FD4FF;
	padding: 8px 8px 4px;
	background: url(../admin/images/bubble.png) top left;
    text-align: left;
}

.tip-text {
	font-size: 11px;
	padding: 4px 8px 8px;
	background: url(../admin/images/bubble.png) bottom right;
    text-align: left;
}

#wrapper {
	margin:0 auto;
/*	padding-left: 10px;*/

}

#header {
	padding-bottom: 5px;
}

#pcplus-mashup {

}

#map {
	width: 680px;
	height: 400px;
	margin:0 auto;
/*	float: left;*/
/*	margin-left: 40px; */
	padding-top: 14px;
	padding-bottom: 30px;
	background-color: #0099CC;
	border: 1px solid #666;
}

#mapcontrols {
/*	float: left;*/
	width: 680px;
	border: 1px solid #666;
	background-color: #ccc;
	padding-bottom: 20px;
	margin-top: 10px;
	display:none;
}

#mapcontrols p {
	font-size: 12px;
}


#alert {
	border: 1px solid #900;
	padding-top: 12px;
}

#alert p {
	color: #0a0;
}

#address p {margin:0px;}

/* Google */

#google_translate_element {
    height: 50px;
}

.both { clear: both; }

#homeHeadText {
	margin: 0px;
	padding: 0px;
	font-size: 9px;
	font-weight: bold;
	color: #ff0000;
	font-family: verdana,geneva;
	text-align: center;
}

/* Credit Card */

#fourDigit, #threeDigit {
    position:absolute;
    display:none;
    background-color: #fff;
    z-index:10000;
    padding: 10px;
    border: 2px solid #000;
    -moz-border-radius: 5px 5px 40px 40px;
    -webkit-border-radius: 5px 5px 40px 40px;
    border-radius: 5px 5px 40px 40px;
    text-align: center;
}

#fourDigit p, #threeDigit p, #fourDigit h3, #threeDigit h3 {
    text-align: left;
}

#fourDigit img.close, #threeDigit img.close {
    position:absolute;
    top:-12px;
    right:-12px;
    cursor: pointer;
    background-color:transparent;
    text-align:right;
}

.middle {
    vertical-align: middle;
}
