<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title><!--PAGE_TITLE--> - <!--MERCHANT_NAME--></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="keywords" content="<!--KEYWORDS-->" />
        <meta name="description" content="<!--DESCRIPTION-->" />
        <meta name="author" content="Shaun Freeman" />
        <meta name="Publisher" content="shaunwebapps.co.uk" />
        <meta name="robots" content="index, follow" /> <!-- (Robot commands: All, None, Index, No Index, Follow, No Follow) -->
        <meta name="revisit-after" content="14 days" />
        <meta name="distribution" content="global" />
        <meta name="rating" content="general" />
        <meta name="Content-Language" CONTENT="english" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />


        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/css/cart.css" rel="stylesheet" type="text/css" />
        <link href="/css/print.css" rel="stylesheet" type="text/css" media="print" />
        <link href="/css/captcha.css" rel="stylesheet" type="text/css" />
        <link rel=stylesheet href="/css/Ascribe/main.css" type="text/css" />
        <!--[if lte IE 6]>
            <link rel="stylesheet" href="/css/Ascribe/main-ie6.css" type="text/css" />
        <![endif]-->

        <!--[if lte IE 7]>
            <link rel="stylesheet" href="/css/iestyles.css" type="text/css" />
        <![endif]-->
        
		<!--GOOGLE_MAP-->

        <!--[if lt IE 7]>
            <script defer type="text/javascript" src="/js/pngfix.js"></script>
        <![endif]-->

        <script type="text/javascript"  src="/js/charismabeads-compressed.js"></script>

        <script type="text/javascript">
            //<![CDATA[
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en'
                }, 'google_translate_element');
            }
            //]]>
        </script>
        <script type="text/javascript"  src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!--CUSTOM_HEADTAGS-->
    </head>
    <body>
        <div id="loadingDivWrap" style="z-index:100;"></div>
        <!-- Row 1 -->
        <div id="Row1">
            <div id="LeftColumn">
                <!-- Translate -->
                <div id="google_translate_element"></div>
                <div id="Menu">
                    <div id="MenuHeading">
                        <div>Main Menu</div>
                    </div>
                    <div id="MenuContent">
                        <!--MENU-->
                    </div>
                </div>
                <!-- Contacts -->
                <div id="Contacts">
                    <div id="ContactsHeading">
                        <div>Contact Us</div>
                    </div>
                    <div id="ContactsContent">
                        <div>
                            Please use our contact form 
                            to get in touch with us. You 
                            can find it on our
                            <table style="margin-left:auto;margin-right:auto;">
                            	<tr>
                            		<td class="button">
                            			<a href="/pages/contacts">Contacts Page</a>
                           			</td>
                           		</tr>
                          	</table>
                        </div>
                    </div>
                </div>
                <!-- Specs -->
                <div id="Specs">
                    <div id="SpecsHeading">
                        <div>Specs</div>
                    </div>
                    <div id="SpecsContent">
                        <div>
                            <div>
                                Site best viewed in a screen resolution of 1024x768 &#038; 32 bit colours or higher using the latest version of <a href="http://www.mozilla.com/en-US/firefox">Firefox</a>
                            </div>
                            <div style="text-align:center">
                                <a href="https://www.mozilla.com/en-US/firefox">
                                    <img alt=""  src="/template/firefox.png" />
                                </a>
                            </div>
                            <p class="center">
                                <a href="https://www.positiveSSL.com" style="font-family: arial; font-size: 10px; color: #212121; text-decoration: none;"><img src="https://www.positivessl.com/images-new/PossitiveSSL_tl_trans2.gif" alt="SSL Cerficate" title="SSL Certificate" border="0" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Middle">
                <div id="Heading">
                    <div id="HeadingText">
                        <div id="flashLogo"></div>
                        <img src="/template/charisma_logo.gif" alt="Charisma Beads Ltd" />
                    </div>
                </div>

                <div id="mini_cart"><!--MINI_CART--></div>

                <div id="Content">
                    <!--CONTENT-->
                </div>
            </div>
        </div>
        <div class="both"></div>
        <!-- End of Row 1 -->
        <!-- Row 2 -->
        <div id="Row2">
            <p>Registered at Companies House, register number 6367772</p>
	        <p>Registered office address: 1A Churchyard, Hitchin, Hertfordshire. SG5 1HR</p>
            <p id="Row2Contents">
                &copy; Copyright <!--DATE--> <!--MERCHANT_NAME-->. All Rights Reserved.
                :: <a href="http://www.shaunfreeman.co.uk">Design by Shaun Freeman</a>
            </p>
        </div>
        <script type="type/javscript" src="/js/awstats_misc_tracker.js"></script>
        <noscript>
            <div>
                <img alt=""  src="/js/awstats_misc_tracker.js?nojs=y" height="0" width="0" style="display: none" />
            </div>
        </noscript>
    </body>
</html>
