@CHARSET "UTF-8";

fieldset:nth-child(odd)  {
    clear: both;
}

.form-group.has-error ul {
    padding: 0;
    list-style: none;
}

/* Panel Styles */
#shop-overview .panel-body,
.panel-table {
    max-height: 300px;
    overflow: auto;
}

#monthly-totals select {
    height: 26px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

/*.panel-title {
    position: relative;
    vertical-align: middle;
}*/

/*.panel-title button {
    position: absolute;
    margin-left: 5px;
    margin-top: -2px;
}*/

.panel-title select.input-sm {
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
}

a.current-order-link {
    text-decoration: none;
}

.current-order-link * {
    vertical-align: middle;
}

/* Graph styles */
.plot-container {
    box-sizing: border-box;
    width: 100%;
    height: 270px;
    padding: 20px 15px 15px 15px;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot-placeholder {
    width: 100%;
    height: 100%;
    font-size: 10px;
    line-height: 1em;
}

.plot-container {
    position : relative;
}

#advert-hover {
    position : absolute;
    right: 5px;
    bottom: 15px;
}

.monthly-stats {
    margin-top: -5px;
}

/* use size of container for width of popover */
.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

#add-order-button {
    color: #000000;
}

.table-pre-wrap pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* equal height panel */
.row-eq-height, .row-eq-height > div[class='panel']{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

#scrollable-typeahead-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}