<?php

return [
    'user' => [
        'user_options' => [
            'loginMinPasswordLength' => 6,
            'loginMaxPasswordLength' => 16,
            'registerMinPasswordLength' => 8,
            'registerMaxPasswordLength' => 16
        ], 
        'auth' => [
            'authenticateMethod'          => 'getUserByEmail',
            'credentialTreatment'         => Laminas\Crypt\Password\Bcrypt::class,
            'useFallbackTreatment'        => false,
            'fallbackCredentialTreatment' => User\Crypt\Password\Md5::class,
        ],
    ],
];