html {
	margin-right:auto;
	margin-left:auto;
	font-size:12pt;
}

#wrap {
	background-image: url(#### LINK ####/yellow.gif);
}

.center {
	text-align:center;
}

#top_panel img {
	vertical-align:middle;
}

#logo {
	text-align:center;
}

#content {
	width: 800px;
}

#content table {
	width:800px;
}

a {
	text-decoration:none;
	color: #000;
}

a:link, a:active {
	text-decoration:none;
	color: #000;
}

a:hover {
	text-decoration:underline;
}

td.side_panel {
	width:120px;
	background-image: url(#### LINK ####/menu.gif);
}